*{ 
    box-sizing: border-box; 
} 
 
/* Gaya umum untuk body */ 
body { 
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9; 
    margin: 0; 
    padding: 0; 
} 
 
/* Gaya untuk container */ 
.container{ 
    display: flex; 
    flex-basis: wrap; 
    justify-content: center; 
} 
 
/* Gaya untuk sidebar */ 
.sidebar { 
    flex: 20%; 
    background-color: #444; 
    height: 100vh; 
} 
 
.sidebar nav ul { 
    list-style-type: none; 
    padding: 0; 
} 
 
.sidebar nav ul li { 
    border-bottom: 1px dotted #5e5d5d; 
} 
 
.sidebar nav ul li a { 
    text-decoration: none; 
    color: white; 
    display: block; 
    padding: 20px 20px; 
    background-color: #444; 
    border-radius: 4px; 
    text-align: center; 
} 
 
.sidebar nav ul li a:hover { 
    background-color: #555; 
} 
 
/* Gaya untuk konten utama */ 
section.content { 
    flex: 80%; 
    padding: 20px; 
    height: 100vh; 
    overflow: scroll;    
} 
 
/* Header */ 
header { 
    background-color: #333; 
    color: #fff; 
    text-align: left; 
    padding: 15px 20px; 
} 
 
/* Tombol tambah */ 
.add-button { 
    margin-bottom: 20px; 
    text-align: left; 
} 
 
.add-button button { 
    background-color: #28a745; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
} 
 
.add-button button:hover { 
    background-color: #218838; 
} 
 
/* Gaya untuk form */ 
form { 
    background-color: #fff; 
    padding: 2rem; 
    margin: 1rem 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 
 
label { 
    display: block; 
    margin-bottom: 8px; 
} 
 
input[type="text"], input[type="file"] { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 1rem; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
} 
 
/* Gaya untuk tabel */ 
table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
    background-color: #fff; 
} 
 
table th, table td { 
    padding: 10px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
} 
 
table th { 
    background-color: #333; 
    color: white; 
} 
 
table img { 
    border-radius: 4px; 
} 
 
 
/* Mengatur desain tombol aksi yang dibuat dengan tag <a> */ 
.tombol{ 
    display: inline-block; 
    max-width: 150px; 
    padding: 15px 30px; 
    color: #fff; 
    text-decoration: none; 
    background: #038ade; 
    cursor: pointer; 
} 
 
/* Desain tombol edit dan hapus agar lebih kecil*/ 
.tombol.edit, .tombol.hapus{ 
    padding: 10px 15px; 
    font-size: 12px; 
    border-radius: 4px; 
} 
.tombol.hapus{ 
    background: #fc4c4c; 
} 
 
.tombol.edit:hover { 
    background-color: #0056b3; 
} 
 
.tombol.hapus:hover { 
    background-color: #c82333; 
} 
